.ui-view.class_style
  .data-membership-point-about-all
    .main.box_member_view.contents_padding
      .common_page_header
        %span.page_tile.icon_square
          Pairsポイント
        .mt10
          =link_to "戻る", "/membership/aboutpoint", class:"page_back button_f button_white_a"
      #about_point
        .common_page_box#purchase_point
          %p.common_title
            Pairsポイントの購入
          .common_box_inner
            .common_table_a.mb30
              %table.purchage_list
                %tbody
                  %tr
                    %th.w40p
                      %p.text_center
                        ポイント残高
                    %td
                      %p.icon_point.text_center.valign_middle
                        %span.fnt24
                          9億
                          %span
                            %small.fnt13 &nbsp;ポイント
            %p.common_text.fnt14
              ご希望のPairsポイントを選んで購入ボタンを押してください。
            .common_table_a.mb30
              %table.purchage_list
                %tbody
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 500
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 34,880
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center
                          14,120円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 100
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 6,980
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center
                          2,820円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 50
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 3,980
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center
                          920円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 40
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 3,280
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center
                          640円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 30
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 2,480
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center
                          460円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 20
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 1,780
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center
                          180円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_point.m30.valign_middle.w90p
                        %strong.fnt24 10
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 980
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.text_center.ng-hide
                          円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
              .notice
                %p.fnt12 表示価格は全て税込みです。
                .clear:_both
            .caution.fnt12
              %p.ml10.fnt14
                注意
              %ul.common_list.mb0
                %li.mb0
                  保有できるPairsポイントは最大10,000ポイントです
                %li.mb0
                  ご購入いただいたPairsポイントは返金できません
                %li.mb0
                  ご購入いただいたPairsポイントの有効期限は購入日を含め180日です。
                  2014年9月30日以前に購入されたポイントには有効期限はありません
