.ui-view_class_style
  .data-about-age-proof
    .main.box_ageproof_view.contents_padding
      .div
        %img{src: "https://lh3.googleusercontent.com/6Cmo_YcldkPzV49AezeVa3W4wEOqLcPniRuyIV5De1CTN9opBLHOzwO3vqHQIw3IGaIUStchVtJ4P3lDFNXutTDLlv8cY_Lg772PRFnWjgAfVrtGUvd0OmtaehkgUNmpPChCLOnC1zd1NTauquyjOfVBY_bArl9QgIsmWIIJ6Njn5VRpZdG9MFIZq6Jhz_iaU0YjyakJyZ1Nupb1_o1elbuFDFoAmL5g5Wx2wuUfK5eg5TfDUf1gIjmBCeM5s2gN6mqE8FJ-p0MTyU1usdQDqn4fxTcWo9Agp9qaBNp2kKE5pe-y7QWvM2-fzDczOXeb0M8DiXpJzHh1rar5ORSDlw6c8TiCwg5WlXA21ksyv-pGbSniE1SUdJyr9VSQdL_aWsekC8k6tM7hnDMw8nFJORSCKbKd4GNJTJICaVzEUPWgW9AdSOnnuTulpHDJZjDNQyk4b_XrvPzHVeO1gJ_kQs3NAu0qNHbYIyzyTU-W-s5YHqxPxWnAqxDgHfSgSqZ7MIHWCe8En6cGhmAx8IUFcMk9F7Noa0GZiggs3h7-z4pw07MgdJDTFXmMmY3h0atsTcwgD5UwsO1m1iRvaDZuCOjtbb37i2jHDl2EgFNhO0mDM-YOrHcTt-ycyOYbcofXBi41luNhldEdVLmO6ht8tDGrOYhnurim=w1039-h347-no", class: "head_image"}
        .explain
          .row
            .numbering
              .number Step 1
            .title 提出する証明書を用意してください
            .certificate-image
              %img{src:"https://lh3.googleusercontent.com/Zntxkss20CEdbHeNuqqh3yU77gbj1_x-l7uTMu6ExTlCrCwt2rC_sMBEPOwta45QR7hIyjH-ltJRrZZR-x2DwBgCqyWUxiEToPFZwrgJUXutOsodD3TfQxFR0yKupE5qux3Ql7YrFotrlRTdoAaxbdv7End35LJvFHx34_jJfvKluCU-H1TW9RSDEyyLCkROp03DnHsCGMIj8gNugOUnFwi4nHawWtvtm-OPX3KY_T5IT63ph8-dY5bnGFVXQ2zoM2JYabULI5EUxGBhi7TOjgWnoU6sTnCurxIkh_cvmIMYyy6ilnYB3Y-n2WmUdcye3Y4NsZjFBIFSiCpjQz_xIXHnLrSLllvH-emlDN4sNj0aKjIbNtYaX1iNUj6vxlykxbhU0dY37MPmaAyzpF_XZMlhN7TXIJQEQgGqCoH8LfASUVzo9KV4XgTVAp_5gucLm7sKvk3xD8yYzD6jtfvolEAcDlC0_yok_66rkpc5z2kQRUpAQNYYih2t0A1yWQvaHHNceYE29gPesk9v4JmhVEyA2UFlmOs9HmDrOqZ_UyYTTAMmZNvRmI-Nv_90kCM0Lum8MdQNgvRIoe3tCXki3Q91KSYXydX4cbNiO6_Eyb_AjpMTwm7rsost6Wh-p7WQu2Y_wIIZKQtZmrifqxaJrBdmsMhlwKAM=w1000-h196-no" , class: "head_image"}
            .description
              マイナンバーの通知カードや年金手帳は証明書として認められません。
              %br
              上記に当てはまらない証明書をお持ちのお客様は、Pairsカスタマーサポートまで
              =link_to "お問い合わせ", "/inquiry"
          .border
          .row
            .numbering
              .number Step 2
            .title 証明書を送信してください
            .div
              .inner_row
                .text
                  %p.bg_ng_icon.ng
                    一部でも隠れていると
                    %br
                    審査対象外です
                  .div
                    他人の証明書を使用する成りすましを防ぐため
                    %br
                    証明書全体が写っている画像を選択してください。
                %img{src:"https://lh3.googleusercontent.com/7tBADGGWoBthR04vS6OdX6Tfv2dxwZ5iD9Wy9CLpJhxIw0D5lQuJRPovDi7NqFkvatlcrLxs84SoTYEivlfRvWThsKUi9aZnzSZfyDHSdVSSxtjgNHo2IJdC8eC2aOpHtifP9viUqTwTQJJz1D5SL-x5FB6fEDh6Q5nvh2mH3pQ5Sx02KnCjKzpjGiR29c_FWHJBR0qPkw5nsTWiVdmOd6TboCKBpbJlOm9bNbHLHJWL2zJgGa4unM6TntBlTPIPVAC4yzZQzgPUADbNBBD5sj0g2MPxXF6MyoEdnkmw5pbyOy37yVe537DDtmUKE4oAQzziiUoSPmyyHNSLHVdmEC0qBD0eZUseaFpeCFNHu2p4cULYJe9tYDERAyRBaX3G8xkHlypnpwERBtN2l233M9KIBkTpkju9I4PX49j6LVwxTakY5LY2YOXHhd3rNaAFuH67hjGA38X7RUv7oi2gRVHh5HF2Lov_cChF7ecLH8HNy2VhJ9q-NzR84ZcYlxNzzhX9XUUPfW1zqQK50qvNPr81MdTDBVPDHeeSd89D9iI3yDNN1UOIM6kI4NtnaVUTE6NdSy4-_V6bUUCvrNVcg0jVPbBx38lchnqos-ktqapk9zXBDNrSNW2Clqjq-WolkLTRBodzSo-7KsbtRQFnBeKEHdehE72B=w640-h234-no" , class: "group_image"}
                .clear
              .inner_row.row2
                .subject
                  %p.bg_lock_icon
                    お客様情報は厳重に管理しております
                .text
                  .div
                    ご提出いただいた証明書の画像は年齢確認のみに使用し、
                    %br
                    年齢確認以外の目的で使用しません。証明書を含むお客様
                    %br
                    からお預かりした個人情報は退会後、一定期間保管させて
                    %br
                    いただいたのちに削除しています。
                .truste_image_wrap
                  %img{src: "https://static-pairs.akamaized.net/public/img/sp/img_jp/statics/truste/truste_ja.png", class: "truste_image"}
                .clear

        .select_file
          %input{type: "file"}
          %button.button ファイルを選択する
          .file_name
        .common_button_area.mb20
          %p
            %button.submit#send-photo-submit
              年齢確認書類を送る
