.ui-view_class_style
  .data-membership-private-mode-index
    .main.box_member_view.contents_padding
      .div
        .private_mode_paid_header_male_view
          .private_mode_plan
            %a.anchor_link.button_private_mode
              プライベートモードに申し込む
        %img{src: "https://lh3.googleusercontent.com/fPQLkH2aYceo5t1OffsYY9WhNwHN8d3D2Lyuhu9yv3RNQLvuSkWhK-QGpxHO4louh_H649n0fbf8_4D05WQS-oFQrhbpkqxAzBUcaHO5ajFkmc4uh6oGgVEcHXPn3oGOKMygV9jpNO1aC_hrEKyhGtGn1umGu_QO0iiemDefHB7AmsAIXbNwM5RqDDdmrxZCSd7OfA_DwucmDqweOhm9-z-J1wUYtoK83UAk4RRbS_sW0Wa4p0i0dMmjgMuknkT1fuG7kaOLTVfpDn-JQ1281OUJgCeXjcVdRsZhZCYNGvMNND8YD4AqsRiObOREmX2ijq8wJ2mx8FXvu7P5t4J5ZdHbvksqDc9GujKysLnY-fGfXTyjbCkx3VNdQPjMx8CUZUS-Oa4kMhXGo3hAFKE5ohio-e197WyeAUafYej7KlzVBBV1n3oTpOWKLiI-aTSngX7N6vP-uaF6d59URU6tMwF2foEHn3qQGN84WmSwNcfuI-0bWWVXQfUdxoxvFd6OT5n8Zhd0OZQL5Tb78BtSS_8CwG7_JYtITfEjVRIOI77feA6yH0gIixKuIOgMS4BJ4B1DLK71YA-sieerK4oel30yy4f2K0MRXyAPh4l3N3XeHtNzpQHYaFmACwXEAkXOjI_uktTTZAseEWndCMYLu7JLt3j_iAg5=w417-h265-no", height: "475px", width: "721px"}
        %img{src: "https://lh3.googleusercontent.com/DGQRWO2ZWy9GtUCUyoyK2kcUsf1tlPb2MkwcgRx42qHvkmS9oes96Grzyc7Rm6C1VhrkC50RIh9HnxcEVVPb_muXinA-CcdPkpZBzDDCmRnfOiQaJ55o3ytB4u5x_f7plJI66FZMJsmvMWTLUaAiPsOfDzceY8P7l21813km-oCZqoVyAgoapNPoTHdEbSHoJqXaPF-6IeVkT9ufNtRyiC5HZXCHFdilq8pL-wawM2AB8oeKKLgGVNVu5Bl6VcY-OkbYMHS7eTXriHHMv8hjVx-rbASmlfa9T7vjrzO_iXG_BsFepu8Ax2izWcmPSsRtA_qx4rDGmhO_fXxr4Ki_ZHZNEub_qjYFUrRqAEA9p5EXGyXMu7ZNhYLOGHHp0k0sHgWegcYLLvzk2P4C9iu4VwIWmBCf384pjCr72Q455--pRQyKSqNdJ2dtiPHbAs-0eDXv2jZC781cP39wPh_nDaBtGEEgGjIkpwR28dK421YAC0lZDzmu25Mkxqr4M0IwUqVLjbRJ_bx343XQ707N6HWSmQDGXLo9eAZ6GYxNsk4T3GhoRny6Ac_lgIdwkQQY2GitqEgZCvNmNCbPdi2zITXw3HTZ0Mb51w9lNiyC-aPup8LT-uhuq0lo9kVHUDlmkmHDSpvJP6rjSjJH1LIKVdEfQLVj67O7=w281-h445-no", height: "1143px", width: "721px"}
        %img{src: "https://lh3.googleusercontent.com/KbYXUsRMVKykQEo478lt6kjLXDi8mwEprO-U_tabVqAIxxhk1Uq1s98DHFe_fezbCgA35rmDYReEfMXwgv6QrGchrwJc-GhmOSruCo6C16Fv8Ob0tJclSUMp5UCN4XLeJ-M1Z_Q_vmwqIoJQ4w5p9BCP4NFzV4JW2EUDfpXAvH0eEKpuz9IGWldwNVtyNqoDF4nJkcbziqLyL-ZjjnQb5xITrIuR_xrYyjxzWWw9GxzeUCn-kPa70RJRO9_FS9Lj_L2LBRB93_3UBcJX5afOVmcANFHyzlLmL8r3ehwIMB1A30bJWMzt-ZQqJIGunsgPpI-XBovtciMAe_1OuFjFvo89raFaTOVWDmpft5585f7_GM01xCs8t2JAIhl1OBvGrOY2Q1PxRF4jhLa7OXaqhQgz2RhZb6LrCDWm00Zbm3JqLXn-va-UJ7dcNe5-vS6nvQjnRF24OzU_XEQ06jfNtuh6Vlxp226kJZevhBbdY17xu_abfmaRQP1yiUBm0RHlkFZZrPeyMqckSiyQBkJriEVnWyOzY6M5d3L7zbDBjnGiGg-7xIUojCWk2x5g0njWziaDGfQn622b1npsbaV3SdPz2aFWQewQoOuatHOwOsVo-QAFch56d0MvqFl66qAao9egF0PTDVfIR5M9WR9zx__IwDGrJhmF=w892-h445-no", height: "360px", width: "721px"}
        #select_plan.box_pay_plan
          %img{src: "https://lh3.googleusercontent.com/zdvbo7EutjkOtTP9jrhO3YgUbLkSGYcuSroOyY-UQpk1M8XzbmRLkaVdMz0rjgwX78Y3gcref_Se7QlnogNucUKFG9J9Zt8P163MGDGJoqljje9gBjI_K-EUi_0Uc5tvUaPMe18hOpv3Nj72N_Ewbwhl2rVkuWMj_N9AbPfjrWVR9jG4cFCAPvMI1FHgp4ICNyb54pNt_1H2qJ1DOZ_5kyWXROMh1akxkivIGdtV5mGA_6T3v3UboIzKXE3j5oGQe2d_UHGVmBit_EJwBCOeu0OS4fXBXEPkO0wOVCD3akTmhhVo2RK9QF63Cg0TCNxsWDE9MGYkAWW-ntzo75Mjd1wkWZehYAt5e676NghLxWURg1joSqVO23NAT9LkH2nr1vflip8ULKZNqTIWi_v7I_UfWQk4LB40LSpxbn1b1kOiq_BIDKp7xpMDRW_29Am1YGKFVs_D5N-Fel7d33rfzwwGvJvlVMDb33phr8cYvT-pV8VvIQAA7rEFK8C7xq8xaBfQxpAeP0fKy6mMCgGMeDbaiyxwcKZAJpPzdX-miDLpr8JVuWB4X-4UZccCl66-v2Ec-DPUnQEYRId7fltgBpCQbe7hjJ0TIq7uK2p5b3-VYmgomgzWGewrOXz0NwDqZ2xDRGQ4BHYJRIJqk08DiRvboYAd5AUg=w564-h446-no", class: "pay_plan_image",height: "572", width: "724"}
          %ul#pay_plan_list.pay_plan_list
            %li.pay_plan_item.private_mode_item01.top343
              %a.button_private_mode_mini
                申し込む
            %li.pay_plan_item.private_mode_item02.top343
              %a.button_private_mode_mini
                申し込む
            %li.pay_plan_item.private_mode_item03.top343
              %a.button_private_mode_mini
                申し込む
            %li.pay_plan_item.private_mode_item04
              %a.button_private_mode_mini
                申し込む
        .common_page_box
          %p.common_title
            プライベートモードについて
          .common_box_inner
            %ul.common_list
              %li お申し込み日を1日目とし、361日目（12ヶ月プラン）・181日目（6ヶ月プラン）・91日目（3ヶ月プラン）・31日目（1ヶ月プラン）に自動更新されます。
              %li プライベートモード単体での自動更新となります。
              %li<>
                次回の更新日は
                =link_to "会員ステータス", membership_status_path
                ページでご確認いただけます。
              %li 更新日前に解約のお手続きをなさった場合、残りの期間についての日割りでの返金はいたしません。
              %li メッセージの返信はできません。2通目以降のメッセージのやりとりを行う場合、有料会員へのご登録が必要です。
            .div
              %p.common_inner_title
                お支払い
              %ul.common_list
                %li クレジットカードでのお支払いとなります。
                %li 株式会社AXES Paymentの決済システムを利用しています。
                %li クレジットカードの利用明細書には「Pairs ペアーズ」と記載されます。
              .common_sub_note.mb0
                %p.title_a.mb10
                  クレジットカード決済に関するお問い合わせ
                %p
                  株式会社AXES Paymentカスタマーサポート(24時間365日)
                  %br
                  電話番号 : 0570-03-6000 (つながらない場合 : 03-3498-6200)
                  %br
                  メールアドレス : creditinfo@axes-payment.co.jp
