.ui-view.class_style
  .data-membership-point-about
    .main.box_member_view.contents_padding
      .common_page_header
        %span.page_tile.icon_square
          Pairsポイント
      #about_point
        .common_page_box#purchase_point
          %p.common_title
            Pairsポイントの購入
          .common_box_inner
            .common_table_a.mb30
              %table
                %tbody
                  %tr
                    %th.w40p
                      %p.text_center
                        ポイント残高
                    %td
                      %p.icon_point.text_center.valign_middle
                        %span.fnt24
                          9億
                          %span
                            %small.fnt13 &nbsp;ポイント
            %p.common_text.fnt14
              ご希望のPairsポイントを選んで「購入する」ボタンを押して下さい。
            %p.common_text.fnt12
              表示価格は全て税込みです。
            .common_table_a.mb30
              %table.purchage_list
                %tbody
                  %tr
                    %th.w45p
                      %p.icon_big_point.m30.valign_middle.w90p
                        %strong.fnt24 500
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 34,880
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.ng-hide
                          円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_big_point.m30.valign_middle.w90p
                        %strong.fnt24 100
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 6,980
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.ng-hide
                          円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_big_point.m30.valign_middle.w90p
                        %strong.fnt24 30
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 2,480
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.ng-hide
                          円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
                  %tr
                    %th.w45p
                      %p.icon_big_point.m30.valign_middle.w90p
                        %strong.fnt24 10
                        %strong.fnt13 ポイント
                    %td.w25p
                      .text_center
                        %p
                          %strong.fnt26<> 980
                          &nbsp;
                          %span.fnt12 円
                        .fnt_pink03.fnt13.ng-hide
                          円お得！
                    %td.w30p
                      .common_button_area
                        %p.button_item.w90p
                          =link_to "","", class:"button_a js_exchange_pairs_point"
              .notice
                %p.fnt16
                  =link_to "すべてのPairsポイントを見る", "/membership/aboutallpoint"
            .caution.fnt12
              %p.ml10.fnt14
                注意
              %ul.common_list.mb0
                %li.mb0
                  保有できるPairsポイントは最大10,000ポイントです
                %li.mb0
                  ご購入いただいたPairsポイントは返金できません
                %li.mb0
                  ご購入いただいたPairsポイントの有効期限は購入日を含め180日です。
                  2014年9月30日以前に購入されたポイントには有効期限はありません
        .common_page_box#how_to_use_point
          %p.common_title
            Pairsポイントの使い方
          .common_box_inner
            .text_center
              %img{src:"https://lh3.googleusercontent.com/mLfmZqRXNkuMgnS5w2PpbwKaj80oirwLi9u5SrmwwY2fWokhAAzrcInDT3Ruhw4D-ozJNcS9F0u4t92-WHDygwJN6dYXmNvdBXpmvt5GcoRPHRUsAgJ0z5U3yeoTTNrpnlrxcaL-N2Od462h6hE_lskwZFaSUuqqbL6mkXj6i7QGeGMhBlvwtJGF5rzC84VbBY14UtYDEpO_37o8JZqnBxSGO0p2E_6AamOyv8jmDv-3XGPAq6f_KikT2sBp53JrO0R2ethUPA8qqW2jQ1Zan3b4Nj3hEVpviJuUFbbLQ03bj3lf5RERhOqTNyqj3TPwJGZuuejURhn7_lVFwzIHC8vzb5t2xMKJ3CZCoZCZ17g-bTpqLRd1l3H-jDDjm5ER6KVAGy9Wh7zloCCkdntdUUp3_I9XDOxnp3cPiIQOg4OD4qeawxteUg9vOrdgQktgjf8cBcivsVkYKwEIfc0-_YeJfO4Ku3JJFNWBL4WL2qiuKOpiKsL3UWwp71tgfgTUs3kVuIiG9F0zoN1NUF5gHm3PNGuLqXlDxJsneegM_lb8Zc6jFgvLCogqjz1DD_jWxyVeZhyXruQsERyZx3JYG0R1AhnuPk8mxcj_VmNV9CFQ9rYkzAmk8jfw-0moUxZmE30VmiH7KFotPNZ5Yz_J01Vqd7BXgBLw=w660-h230-no"}
        .data-exchange-point
          .common_page_box#exchange_point
            %p.common_title
              Pairsポイントをいいね！に交換する
            .common_box_inner
              %p.common_text
                ご希望の交換内容を選んで「交換する」ボタンを押して下さい。
              .common_table_a.mb30
                %table
                  %tbody
                    %tr
                      %th.w30p
                        %p.text_center
                          交換内容
                      %th.w30p
                        %p.text_center
                          使用ポイント数
                      %th
                    %tr
                      %td
                        %p.icon_like.ml30.fnt_pink03
                          %strong.fnt24<> 5
                          いいね！
                      %td
                        .text_center
                          %strong.fnt24 5
                          &nbsp;pt
                      %td
                        .common_button_area
                          %p.button_item.w90p
                            =link_to "交換する","", class:"button_a button_pink_b js_exchange_pairs_point"
                    %tr
                      %td
                        %p.icon_like.ml30.fnt_pink03
                          %strong.fnt24<> 10
                          いいね！
                      %td
                        .text_center
                          %strong.fnt24 10
                          &nbsp;pt
                      %td
                        .common_button_area
                          %p.button_item.w90p
                            =link_to "交換する","", class:"button_a button_pink_b js_exchange_pairs_point"
                    %tr
                      %td
                        %p.icon_like.ml30.fnt_pink03
                          %strong.fnt24<> 20
                          いいね！
                      %td
                        .text_center
                          %strong.fnt24 20
                          &nbsp;pt
                      %td
                        .common_button_area
                          %p.button_item.w90p
                            =link_to "交換する","", class:"button_a button_pink_b js_exchange_pairs_point"
                    %tr
                      %td
                        %p.icon_like.ml30.fnt_pink03
                          %strong.fnt24<> 30
                          いいね！
                      %td
                        .text_center
                          %strong.fnt24 30
                          &nbsp;pt
                      %td
                        .common_button_area
                          %p.button_item.w90p
                            =link_to "交換する","", class:"button_a button_pink_b js_exchange_pairs_point"
                    %tr
                      %td
                        %p.icon_like.ml30.fnt_pink03
                          %strong.fnt24<> 50
                          いいね！
                      %td
                        .text_center
                          %strong.fnt24 50
                          &nbsp;pt
                      %td
                        .common_button_area
                          %p.button_item.w90p
                            =link_to "交換する","", class:"button_a button_pink_b js_exchange_pairs_point"
                    %tr
                      %td
                        %p.icon_like.ml30.fnt_pink03
                          %strong.fnt24<> 100
                          いいね！
                      %td
                        .text_center
                          %strong.fnt24 100
                          &nbsp;pt
                      %td
                        .common_button_area
                          %p.button_item.w90p
                            =link_to "交換する","", class:"button_a button_pink_b js_exchange_pairs_point"
              .caution.fnt12
                %p.ml10.fnt14
                  注意
                %ul.common_list.mb0
                  %li.mb0
                    「いいね！」をPairsポイントに変換することはできません
        .point_log_link
          =link_to "Pairsポイントの履歴はこちら", "/membership/pointlog"
          / =link_to "Pairsポイントの履歴はこちら", "/pointlog/#{current_user.id}"
