.ui-view_class_style
  .data-membership-paid-about
    .main.box_member_view.contents_padding
      #about_paid
        %p.text_center.mb20
          %img{src: "https://lh3.googleusercontent.com/Iwj_j60BxwrjzDLtWsDsjiokkUq0rI36lrnPatxGw61BPIFbCVhT0h80k6CNvTDtbAmSFYqu2sMxg7Bt4PqvGSv7njNWI6u80WSzA2T585RlVo9j_Ca-HpSPnypXptgYxCjCmdXUUB7HuymSuQbTtF2bTwHED3EgnsWFx3A7wVV1mZn2zJYOhouCPLug2DSUAMcOHkjtGVW-6banPsv_Sw74sCc1rVlQmLC-ofqHU4-v6HYqygJOwHzdAk7Tdm_ByvN0sZqMh4Cvmhw9p0QqIElJbHdPBuRTBTRf4a06ovud1aSrKIRV0FUM_YYOAvqKAeAaE-bDQhni1wFwsPOzsXRy6N5xD7gOLgTWwrDgUXO--qOuX9KFKNl9-XbfPge5GC0nEmtsDSfl-__ERII9rT8PYJhJbSvB-Ys-bidRb2OWLz1V3_TE4MUfw6JRNpLyHBtZWfyO3LrPgba1F92bGTbwUJ7nlyg3qvaGGZAKuRx_Z-ZWvvUBLF_gA3QUik35VrZS3-T855cuf7M0eEhI3mjtaaB2jSjl_mrhoNgUoyhC477kZBI_B-Gw23Tw4CSf8Aj0mv9ViklE9SCgEiuJve-NwPcjW63UIDA9ZmfLO2bfAt1lct4la6Txqstz0ZcCLiEDCDwb53xSev0_1VqXhNcQsPdJ6Ixz=w720-h153-no"}
        %p.text_center.mb20
          %img{src: "https://lh3.googleusercontent.com/q4zkIehcvM-nkjJ9KT4LrP56CCEpZsKuztCgkafwm5XJyGZA5eK7gqOeSdtMNBM4h-ybAOufUgxgvujhV12E0125hUkA7_oJIeVzkCkptbEIOwIukLwUiDYyd0Uqt0oDYthEN0towr3AD1nE7-eHBpII7oTwZtyng1SEt3gMEexzcngzpxFMQCHvx0E2hsbu4l-KKB7jPz3mnsWsMSP9YCMkOUFM2MnETRzTJ83W0fO-jVXdx_c4o1--jBQTis5a0LT9PgdQ_s6BpYl3P0hGnegTfsx8l2ANxF1HaBFc5MJkf3hbm8Nx7DWS_kzX0CZMp9rnKXxEeRRqyTxBQ8VWq1b1Wqj-Lo7JoMwirLAgNhDJhrk5Tcvb7LY92vMnRVCE8_Ax_h_BodpjTThyMvYuPnLI08demCsxiyi88FQqGIpHPfnr0-sn6TLAYi17wSFcvnRXyvMEo_txiNnTKFqHNhCEn-2mW1We98LagGJ4UklLozmT0fVZXIgzdRqfDk8If_2JbIp9CrHg05FRwYwQqNODTwfFhrSyVExVYjbpWZ1Xby98UjrAJ2q8o1stvcwvbBmuWJsrmel2xGYeFeIrUfz47XH6Ew3Jm-PhqTzHoOxu-CXY7lhHFO_vv31leJ-lHeJSCD4d2c51Va2scdIDzk-XO__7EsIX=w720-h276-no"}
        .move_box
          %a.anchor_link.button_paid.button_paid_register.mb20
      %p.text_center.mb40
        %img{src: "https://lh3.googleusercontent.com/CBYDsC2qjK2lVUFk2nBjrXtzdEbqqpDwl_md7z0o99itUzOqeh0oYPiT9jtTGHSsTFvZAE0i8JgHbxz3yyNIZN3aeoIkc84Hyqa3SwG86FBv6yndHfhX55VSeKIkdgMlqWpJlaCKnGP15bCb2uqS-0cm2rQruWNXALNDOnSqk_LX-uOEL9SrI71_mzZNo9usdsD4m0-W5ZNYQryfypkzbYQDYKUUYQLLJ7qMhG06m1ZaOX1oJurvbKb48s81EshdfNOjduIozBkYRzmJ6HAmVzIwZMv_vaNw4RxNJ4emj_AEaEhmqrluZmIFKvIZRFpLzQSIFsTyhj8zX2b5SJcAhGdl126wWLNTBzXYwxZGvorftw1zLT95H21iyw2UwwajBLa3PqLRaEu2AQJGvUWRL4xjo1BWvLVg9QVdWb5o7vacGgxZRK3dNFGbaACLgnL5tvYEu0DYfGrIzTxejctofhCoda9VqUk-4JpOo1q0XIGoTlt56Z62KtI7HqCgWhktP9uUCAN0uAQ9hfSW2Z6fhTcElDmdu2KCtfqCvnxQsuFAwKr3s5IL9upWvimpbM2yexs_5RLagZmsNhIrYI3xkY9zXESrH79HMcMU9PndF06k47W-hAw4zlLHNdx22XJENuAfczhuE8Lk5978KCCtnitwHTv0zSWf=w720-h480-no", class: "pay_plan_image"}
      #select_plan.box_pay_plan
        %img{src: "https://lh3.googleusercontent.com/fDdKz2z5Uu5FlyXKz5XHng4zgBZ9EwdDTdAaJNHfrOzREQ1gUbFq6ZDyyTZSNfkg3dMegdDMCY75Qr1kRfndafNmrOXBmqIw29P874RWcjPcTW6rP4Jbh9dYhcYnUVPdF3jY4e0eFHn3hi2-ejYrA4yJV1YDLAorhVwdhcXRZS38TpN7HoKK7T8eQGW-Awe6JIFB0lMpNtlJ1Y_raFgL6cv-j3QzaxaiHW-zNym8ep8rPROL-SfDkvi2Tfy37khobPwcV5_A50D7Iu3L4TvWqgT9OUxM-IZ8-CFUrFYRMpEDS6UGneqijXRmOT10_J89Lg0Ao2CZgTZewsWoXogssP9yAR3ys38KB5K4DsjLEkaSjz_k_dRfPTi0IEKX-Ch7akhSguQFYF2OzisiP9jARfVuZHgAnOoDpR9Drqt_7UOAgTDnNDCCNnaTgG43-xh44Itcic2sMNNUX24FpLhGx0MojxxwIWlga7JaUjvPDpEz_r9FxTl_xBA3rdsp_exuWh2U95uerihzsfsnqMvnVDJH-rnH3pcc_QBkl6RZiJn1gwRV7fvGE7L4ivbF3HhRniDsLlqMJo0yMsFZrYblX3-_ytHOgtKcQfvo0WFr0sklIS1OXVqpKYuTC6blcAac0sVgoKuecR-h6Igp4wrXQuvO3LdbwxGb=w720-h613-no", class: "pay_plan_image"}
        #apeproof_data
        %ul#pay_plan_list.pay_plan_list
          %li.pay_plan_item.pay_plan_item01.top343
            %a.paid_button.button_paid_mini
          %li.pay_plan_item.pay_plan_item02.top343
            %a.paid_button.button_paid_mini
          %li.pay_plan_item.pay_plan_item03.top343
            %a.paid_button.button_paid_mini
          %li.pay_plan_item.pay_plan_item04
            %a.paid_button.button_paid_mini_blue
      .common_page_box
        %p.common_title
          有料会員について
        .common_box_inner
          %ul.common_list
            %li お申し込み日を1日目とし、361日目（12ヶ月プラン）・181日目（6ヶ月プラン）・91日目（3ヶ月プラン）・31日目（1ヶ月プラン）に自動更新されます。
            %li<>
              次回の更新日は
              =link_to "会員ステータス", membership_status_path
              ページでご確認いただけます。
            %li 更新日前に解約のお手続きをなさった場合、残りの期間についての月割り・日割りでの返金はいたしません。
            %li 特別価格のキャンペーンは予告なく終了する場合があります
          .div
            %p.common_inner_title
              お支払い
            %ul.common_list
              %li クレジットカードでのお支払いとなります。
              %li 株式会社AXES Paymentの決済システムを利用しています。
              %li クレジットカードの利用明細書には「Pairs ペアーズ」と記載されます。
            .common_sub_note.mb0
              %p.title_a.mb10
                クレジットカード決済に関するお問い合わせ
              %p
                株式会社AXES Paymentカスタマーサポート(24時間365日)
                %br
                電話番号 : 0570-03-6000 (つながらない場合 : 03-3498-6200)
                %br
                メールアドレス : creditinfo@axes-payment.co.jp
      .move_box.mt50
        %a.anchor_link.button_paid.button_paid_register.mb20
