.ui-view_class_style
  .data-membership-ladys-about
    #select_plan.main.about_safty.contents_padding
      %p.text_center.mb30
        %img{src: "https://lh3.googleusercontent.com/UOG7vByBs2lTJCTCzaFwFzzXUQ7bKCWlzGVOrdRPEX4kWv9YYsyheJzmUKvVKpjOzUJyKW_3ucKBzniedmqu5LZaFTRhGKAZ0hFfNJ5KpLBmbfN6UOsBnMB10HrE5ar9Ry5ooHXGH-QDVBxI5nlzQkzX76VOiadJ3wjclf6yGz0NlbiYmp_i4SDlJbN9Gk4sldC8mx4eYYSpWLvrxGc7_vkX987UhL-kJuNQhGVjY4kmn6oYsEkC2a0RkjilBoBfPU5hs8zdO3bnOmjaZJQezktXic0gmjrs7ag8l_Rl8pf5h-AwEVsLV7B4cPkr91uGWDh5X8voY9NKWLNf2PQjx9KyBZ1jVqcFJKZLWycDZwGjcoLaHipP9BkV4z_p2parKBWjg01jSRKnCfYhn2XaR9zLdYGcCkg4mI-s50mcivRZDi1McCLcu__oGj04tfQ0OKBwAKcabwF0Yh0BsGNyuGcjwL3aQWeg5_M5Tt8FI87140Sd6W4KXXBQb-r7tN-tPA2Tz9EDhY3VZD7XdYyjC1f-v0W3QLSJqNWhHu3GXRTp1p7tt-AQgqhSMFfncRis5JCWCJZ-ZuimFMWOYjfjRvH52Gc2iGWh4G5BMfuNv_-e6EpOvikNr8upML9GTx5zH7QOhY2lGlk-Ev9nmp4DQ98zh45mIhSR=w720-h196-no"}
      %p
        %a.button_paid.button_ladys_option.mb30
      %p.text_center.mb20
        %img{src: "https://lh3.googleusercontent.com/zIUGkW_ckVyRpTS7Q9W1TNe8U5ToXoeUOj3Tqz64E-9CmEuvBWWY8Tq4zVt3wldJ8Ts1_Z6R63-fJgbpxPh4j9SFun0s1Nyhgl13WZjezAhCMcPI9nFAol0CgNGsa6MwzZFmV3BJx3DoT_7dciVUEQ8q084HvqFaFPTjG8z0ODGXWbj-1JloQTwlRgR1xQL7t5dNJAVq-udKPDTI9wkgBjpaXOQnF0wGsSp1qNCAhbS04k56APNRsugeyQUGQZs-k-AKthaEQrGAh5y207MuZMx-CfP0D5FWHLIot7f7A_4TI0xDt_IJdjxPCIXiTHm7ufkCIH3wkTlpx7TFdlQfetUFad5TUnkCryTxZflNkGw2Rif9zaUE4mYZs2KdhYrDxWkqmGkorvX9HnD-KPIT0J1jO47YxcwAMLTOLPozQAmV6ZysPndowqimnubScMM6Heg-yFwpJ1liQREhTCYaXFNIp9VKur1lDUyJiF4bUU1ViSr03A2C_A9tYGoGRCKG0e-IQ7PGXbw328BwmPgW3oQncRw9r1-cGJRVy0rY-xtI14AAZeaRtKZxxllzLtlqgng7n_067_LVgYe69VeKYTC9KpjB3UyNQo49BFYr-gzwUAKQ0CmlbwfTJInhfbDm8wxmRiTNyQQE52b2Blw4lek0VVY1LKDf=w719-h194-no"}
      %p.text_center.mb30
        %img{src: "https://lh3.googleusercontent.com/mN8Fn_eLGCMDdzfEO6hTWiP2SELAV8sXh3PulvTozC8saOFOmWN98MqD0IKK5BTmtv91erZ595L3WiHDjQzTJ5u-cRrEgXcBI-6Zvm-REj9ZwL5mgWoNVc98Zw8trBS7eNayvYEitNIAPzgEDPKsPTNFqVk6kLEjVtX35J5-eF3VicUwN9J8X9KxbWyCtxiHg_gKs1ljmovxW2eNfKKFUSX5RydLpd4534dNAcScmY7GoeGPg5LCLgU9bWi9aQgbZeBid0Ha-z5QWbM2xhqaUuzGDTsaBI5Xw0P8sUE8jDHU0cexDTi2N5Mcq1hnr_SfFpBfaMBD6zmHuNv3qWfJfuE41UHSyQ-XkYxl4S6bNMkNqQ7yW1dmUD_a-FOiicoj6QTceOpX7d2xUmOjxrnNR9jVI5w_2RRE-uS-0rQMPvMBCRHy0wJhkGy2Lm6fe3q0Qe8bpuLj3k-Czdk22nbe7NwDYpBBRdp4rxqUH60OmNdaOVHKmjRNCkYFelGwqI1ndYmZ55aKujM_g38kxZ3A-o3f1V2tZhd30WpAmdJn7p9qisFsgdh4FdoqNBgoP4ptZP1S3nQ1xVATjIPYWTqGhhZZK2z3aELAXo5kLODGx79o-vpjuSfUnd9KpC_i_Vt4CQnQWWBzC1BFKm9acHMKMuCEjhC8LbUk=w609-h716-no"}
      %p
        %a.button_paid.button_ladys_option.mb30
      .common_page_box
        %p.common_title
          レディースオプションについて
        .common_box_inner
          %ul.common_list.mb0
            %li.fnt_pink02 レディースオプションは、女性のお客様にのみご利用いただけるオプションサービスです。
            %li お申し込み日を1日目とし、31日目に自動更新されます。
            %li 更新日前に解約のお手続きをなさった場合、残りの期間についての日割りでの返金はいたしません。
            %li メッセージの返信はできません。2通目以降のメッセージのやりとりを行う場合、年齢確認のお手続きが必要です。
