.ui-view_class_style
  .data-membership-premium-about
    #select_plan.main.box_member_view.contents_padding
      .common_page_header
        %span.page_tile.icon_square プレミアムオプション
      %p.text_center.mb20
        %img{src: "https://lh3.googleusercontent.com/EMo5Y7uJ7HWv_VNmIZPuAJDl1ja69D19Bpy7PXV2ZKE58siFMTe0BsJeYtL1R1JbzY3KUg4Wpk0n7giPu5MRFUtzyhiGnrtiZ88ePV2XHeRNQDISMFs8Oxc6ELlUOJyNhaY_P0Y6LxpqbdB-rCqPKncttrNDInbcQBJ3bApWNH8ut3jRSeCEDzaIJYHiaLzls9COQqgpzSIrTfRLPnP9X4Ls5Xo1L8xJKztgcvFeZSMq9cal4OyOQ6fp0DPlP7Z3hCFXQK7qtrfTUi6JtN2bYFaqIE4gTiezyIoF2YMyi63ZgojbPAJFqWuwu_whxCiBjRfRnqSYYWjWIgVUvdopanB2yZtIwiaufmpAhVbIlWYKY1CD9SIr1IpBABKgCYs0IYUZJ6NVm71NYZgW8tUFVcYTQ6tXJJoiC_Habw5r8u8puXQkItS0wBR64QULRa9Isw6Pe6YY3U_2mpVEWlej0Ao79LmkjfSari16aUBkgY9znr9SsoTY4K99ZW6X5wRz1E6_y5ybcbpMDPPo1g3CsdKFWWOrGkEeB3Y8AElJwkJdHCQM6kA-iswSB1wln40J-nJT-HCTKHAn1NVKMhTtmoHG2lSHEKxvy3v5TKXSXCzxpsJ_sZXZGlpsthSxM8Nbz8w2O0IzJAAT5AJN9ITVT0I-XCiPWVIl=w720-h196-no"}
      .move_box
        %a.anchor_link.button_paid.button_premium.mb20
      %p.text_center.mb20
        %img{src: "https://lh3.googleusercontent.com/JG2IXEkM1uKuPIoFd32B9BxztxaT3gaI-gelvvcB1qqv6_ul6U2VHvMIht4DJjpij3zXHwmN7-s2rlh5g8IN-z8u0WTgMB1fBJZdc15e3y4OIdlI7hw84Fz2R-HRsvzuoKnMUN6TBhBmmuNVFy99tONgpOSt9jCb9HuHNMTH8iEcxFihUOUdVKsJ3B_4g879DZEBiybROGZ5WLPFPBfIVW-zhmM8Oxz3ae3868sfIhfoerOPdspx2xeiZcMN1fqa_JTHXkWUP-rv3XklUaopCe2hVRivcZWWCKirmnkeJ4dvpK1dbcRuc7zSd-WxIeP8k3aVteWAhcDh9eM7VRxAairWZ_LQTjxAk7Ls2CLlohzSIujyjAW0IlmJcEyHlCxnbxOyphe44C7JiTr9x7dQS4pmDG1ES7y-K4YEAtJamM9uOvroa6Az-CPtjtX9NHJNHxAQVQYHyEox9XJq2lKU31ef6S4eU-PRr63HZjHRVB7nKtOohUQGNbif98P-DuxCEekAzloiZXTkvLexNn1eC0AKRo8TLYQu2m9fHADGi9h_n8BJNd_vze0tYvBk1PCaM7zHabX-kfeo0NdqjJGykjaNmhO48jyGX56WSsrewlBY878-d-ZXYa7PJ5pZrkm-G2rZPZWxb6ilPf4MAUItwqaJha82R6zC=w720-h280-no"}
      %p.text_center
        %img{src: "https://lh3.googleusercontent.com/bCMTq9OfpkiG0YYHZaXsz5G-L0HcN_J-aYfQTrtl41huQe_w1fDZvDaU0KCZVShyZcMjvEEgx4tx9a56Rqyj5hVz0hRMnk_V39Jvmhew0SstQA3zDe7vH9ByNhkWDgwF1AVCDrUH4Jhs6TSyc2n3W4Z27m-XjSPXM5eLL2Im0-PdCYmT79vOAmZ1GpQyp26uRZBBvpa3xQ0UBqozfq2FuNt0U-f-yij87YUr1kO0LDwDF99FPH1hEe8hhP6wKA4oo41M7Ymx7Vlzpx5QB8ESmFGstLv5-Xrrl_R0kG_fHNtvXgeAmJmIyNzokhsbs3Y47lGtoTqPNQDUOFv88Vg71U3ruyY1Us7Q4o37RlWuwcGB2HneWyyhyD4bZhlAQgEZgNC_5HE1IDbmHCynCQ6WskIWXoUrizzfV0oIWqtUuAxc7EGMARzV5QUdBVAYXHq9AywoTQLl6-tv_jLOKY12HfM_KRIDGU7y2Qy_RolCOlZ2wNTRK6L3NxWgNNDG4EH43p_FjUN9Mo-brl-NiSGS-yAIck6xK2GcQ6lCRi54pQQVg-4XDLUUyv9de2E-HfLXgQltex3ot-bLAicFDGfR95ltt0yxCTA1rooo4tqpeKUlgh3CVK2Hp4jTcSZBz6pkosW_9Zae9JQFEXZm26RMxwrATLdnMsn0=w720-h1190-no"}
      #select_premium.box_pay_plan
        %img{src: "https://lh3.googleusercontent.com/WUNL8lTnNsZx2DYndfFm0mLR7OPsKWQR9Bn8EDb0ZDxv5vxuMR6QCpYZI9DZkb20xVv0guQmEbEoYetfNTe87dWewVaszDT9SGjoHxykYXYc8uTq0MqaUJ1SamACxZgxjeiqkCoW-MfBHNAm-_pWLZiFBZBuCecdWvrfWncE6lvmy0vqzh3pQ89dhZ19WPWSRw7fGDxU53lUq22imnzJEHkJdBOu7O4ahGpujduGmq1CTO0GKFivAxzWszRORtvS5f9EEf_0KATl9RW8KGg35odlSM5dkSsdIM5x7Z5s1HoxXOBQRh_JURkpDR5ye62OmFjiknLICf-PsnYaTWco5QZoAWdzbZlNGTKIeHaOiCdUz3p0fq_-vtPZoJNYLXHf9F96UbQ3A5ZVqBhRJgnETRRjl47MIj4AMNGexrT5PPPj3ZWwaojU1tI8IGt2C2CZSsd_C0t1gYpyReOkryDLljyZydHtYWBn8hYsY3_Fvb-NBPjkv2gW5G4gEO8B4NktcSxzV1T6HaM90brUBiH07RICWYzs147oISt7B9Tj7h2G0Y5S_jOYzqZtCEo0MCBBLcOjfJ7bRGATFpGI0uf4OJ7o_L1PfxHpek4JN8dsQeeE_FYf4HybjEMTUwiTfeDQzcrhy0UXSTOeX8hRp_iaqBkTLIAitHMj=w720-h426-no"}

        #apeproof_data
        %ul#pay_plan_list.pay_plan_list
          %li.pay_plan_item.premium_plan_item01
            %a.paid_button.button_premium_mini
              %img{src: "https://lh3.googleusercontent.com/KoMjhqx661vRTqZPi9OFO5IO8bXq2iccn-Gyi4MhGZFl61zhbQb8FgM_OIffYaS-Z6-rdqkmsucmRFLLsnvcHV1iBCsdQsQYK3-JYdOc6jpANPapenUtKQNZETpvAOXHjUuXYbCFSNRiAntRB6vJQVBkEGQQzPo8qWalvgWzv31Kt1hqssQfEPkDHXOd7CAWu1DhMnOPGbBJE9_Dxw8Mg2Y1P4xdtN5ywGqUbQHQrvEm0rSCla2EF6gj2qwrQ3-kG1O1OX6xU_-6metTdMvkspsWffhNYKMoHoUI8lgIBYau1MWpl009vqkA6EtdeOT2-Ifmjd4vbzJDJ2wYdiWptXk1OsZWv24VTEbNVQun8H2EzqQ7HfylSvVDxTzOXF1RFgmyKpl2ZrjeV4pvkuVfDmtPDs_rceP0mTvG7XpLTdqyiX7DS7VMOf1fSyY-ILSX4p96ZuWKnDniMw3227nxofQdVRttK0XtroMjJfvYp5NJZXkXdVvHAnZ7dIvv7TtPGBMmY_T5bvT3Gwy0FnyfDS5PpE_Hkd3gWdbdWaOltJ0uZqjG65UVFO8_9qMYXurEbnS6aI6Pu5rwHHWS7svFdEOU0HJBMaUEr96a8MbYnn1IEcP5Lq8ta7orO9Qv6sRTgdle6F8awbKJi1voN44i5Dol-vu8Nft8=s52-no", class: "badge"}
          %li.pay_plan_item.premium_plan_item02
            %a.paid_button.button_premium_mini
              %img{src: "https://lh3.googleusercontent.com/DaUJAOH7jzJRYiXuDk8-zgSokSYiWrlodhGkBnCiozU-DU5Jypvhk6xiMuOOg-rc4isc3d18nKUV-J1hDcJI_bvL4Mzj2qrHp6uaqwTGNUJ4vI0056PiHgqgXLa1w8V9xrKoJizjkls0aXpfxefdjqiqSbg-j-vk50EM4ZqcAAxos6Gmy_YwbjRY3Wh9Nq5RnPJiNPRR9D4QCuz9zbDtBJsZ5_2aUobVZ6tMaFZ4WhxlAQyzry9IEskKgHOwmEr9EHUuzHnWje0xUovV6HUqjc_iggTPDKqXOOxmLRiZWlNXLGke8hL2mOi3d87kj00Df32epIhML7WiZzBeot-xBQDZ84unspKscmkLOoPRjb0yVY0VwfV2sVnQNtFUpj4H6z2R_lu1VmGIb0CFl0maYPVlbpojj5Cx12ZFNZyAL5I9E_QRiFzV0QGta8wu7T-eTngVWKaPR8O3Cr2tEHIcVhYbfZQHp8CqDuEuGlzqQaHYoTAHXfwlQXNqDNbsY5WgKReJOUaiP8Bam7smaaEB7wuEeaNPg14wiLlhCIBI-_ApHBBc5hTbP5cJYXfk7Fm4X3FZdXGOuW9zDsuCmjxPM1rDTIjTwptKUM5s0bmE4meViG652GVaDKzJ7YViu-2OwZCpur0ZW5qLlwiTh8P1LWFBm6yXSXLh=s52-no", class: "badge"}
          %li.pay_plan_item.premium_plan_item03
            %a.paid_button.button_premium_mini
              %img{src: "https://lh3.googleusercontent.com/KxCgi4wisyMa7vuT_FzanvuDC-GXFmRypcyA8WeRduOh4nfJgAqfZoHTeR42_VZczeX5BfpLVCSXrMKVZd9PDkVas9jsBl464XjxMvgze_8mg_dZZgw5v5_tVRRpCMk-kyOHZrfOX2FIJlYnlW5s0UNrlMkzwtGk9kGGrtDodfuUHnhBUWVOSyUMnvVGWlDOHKTq6YeOcQOwyYCxlltWE3O_Gn3b6qWWKVj9OmY9Mm8lNNKGzqRjiNLIC8heRZlVZ40UrWXhoaZ-uIoIPB8cAN__6Watc8UQwdULwaRwp1hl_Zx3_x5fX7Oe1N8PpsqsjYH8iFP4e7Kiota2dP1sGS09CB6tGzL1oTVrnjAJc0RNhPH4cH8nXqbPp0QnVx8pfyH6g8b3aCZWm5zj11lPEf-lS6ZVnq5VtjPJmkoJL8FHMlpj_CETBJ0SmheviPVvihg3gxc-EdNbF9L2GU4a_-FzIjQEr0HTZU5eW-mCgFuKCrosZfiyBk_OGdzYH5Ib4UD7QTKh3lyy-IfHTGq3p8oSC8_dQMLvnc3PEMAHrYBEbvtHCMHD4MB0qISlOy0qcbZBFyqMcP60z6ewe0daCHFBPjITVVKqxsEIVAbNi_jSw4ZTKO5vCAy9NfF3iZ6AXCYqNmoJR8cFZTVExj3eygG9_R7ZqK1u=s52-no", class: "badge"}
          %li.pay_plan_item.premium_plan_item04
            %a.paid_button.button_premium_mini_blue
      .common_page_box
        %p.common_title
          プレミアムオプションについて
        .common_box_inner
          %ul.common_list.mb0
            %li.fnt_pink02 プレミアムオプションは、男性のお客様にのみご利用いただけるオプションサービスです。
            %li お申し込み日を1日目とし、361日目（12ヶ月プラン）・181日目（6ヶ月プラン）・91日目（3ヶ月プラン）・31日目（1ヶ月プラン）に自動更新されます。
            %li プレミアムオプション単体での自動更新となります。
            %li 次回の更新日は会員ステータスページでご確認いただけます。
            %li 更新日前に解約のお手続きをなさった場合、残りの期間についての日割りでの返金はいたしません。
            %li メッセージの返信はできません。2通目以降のメッセージのやりとりを行う場合、有料会員へのご登録が必要です。
