.ui-view_class_style
  .main.box_setting_view.contents_padding
    .data-user-list
      .common_page_header
        %a{ href: "/privacysetting#box_hide_block", class: "page_back button_f button_white_a"}
          戻る
        %span.page_tile
          ブロックしたユーザーリスト
      .common_page_box
        %p.common_title
          あなたがPairs上でブロックしたユーザーの一覧です。
        .common_box_inner
          / /どちらか片方：１
          .common_text.text_center#not_found_box
            まだPairs上でブロックしたユーザーはいません。
          / どちらか片方：２『足あと設定』ページと構成同じで、preとnextクラスが非表示になっているだけ。
          / 『非表示ページ』との違いは、『非表示を解除』ボタンの有無だけ。
          / %ul.box_block_user_list#partner_list_box
          /   %li.user_item<>
          /     %img{class: "user_photo", src:"https://lh3.googleusercontent.com/OFx6xjhl0VlC7VSSt52JE8xP0qpx84h2qWbCJC1c0_rA8PeqNpVIMEsxS7twNnVjAyEqChq9QKhD6tWGFU_70XL94nnilkYRIgk8kQRcA3QetWTOGFxNu6d-EadgyCucOAgscjP3xpUoa6XCTnZZaMm3ncsLa9Mhqlni90pJFOyN-C8CyXzqsxAIVJ-gfN2CTaxaX9o6pEyrAz7XT9xFVGh6Hdzxg42H4Pdnms0ouDGBAj5L6XBTeTgpes9vmm7KtI83xEOvZnI5PTk6CZFcQDjKkjFhtgn0YJsKVlqkbX88VApdeo1Tx-H1T7_nlwARRR5hFq1gNRuJ--0-l4Cl4HPL9B3-7FXexVOG_yUgTgGms3g_Dj51-HAPjdrM_umWq4z9rChoPkewg9Ps0aXtaLlSbMaxO-S__518TDoY82MdF6MNdzbInDNqJ32LeZK1o4DRAEaK8e_NziZTq2mNtFygK3u_1c-auMz_DTTPsksSxu6HxfbcaAI_l215RPZamvhTIpSFSnYsF9X1xYh520cZop5dxw1qhwCCOzhpdHC1XnQHktzhkz1xmA9jnqjfOzOiflLqdkkhXL-O1fkJAaxMEq9M83FXm6CzcbCHC7TuDHSeRoUqypUVfGMvzqGQ9sXJLKo6aSxEwX71fHanoWI0ezRJeQg=w377-h669-no"}
          /     %p.user_info.hide_item
          /       %strong
          /         %span.age
          /           41歳
          /         %span.pref
          /           東京
          /       %span.other
          /         170cm
          /       %span.other
          /         学生
          / #pagination_box
          /   %p.common_text.text_center.pager_info
          /     %span.pager_count#max_count
          /       13
          /       人中
          /     %span.pager_start
          /       1
          /       〜
          /     %span.pager_end
          /       10
          /       人を表示
          /   .box_community_pager.box_pager.mb30
          /     %a.pager_pre.pager_item.button_c.button_white_a.ng-hide
          /       マエへ
          /     %a.pager_next.pager_item.button_c.button_white_a.ng-hide
          /       ツギヘ
          /     %ol.pager_nums
          /       %li.pager_num.is_current
          /         %a
          /           壱
          /       %li.pager_num.is_current
          /         %a
          /           弐

