.ui-view.class_style
  .data-membership-point-log
    .main.box_member_view.contents_padding
      .common_page_header
        %span.page_tile.icon_square
          Pairsポイント履歴
      .common_page_box#detail_point
        %p.common_title
          Pairsポイント残高の内訳
        .common_box_inner
          .common_table_a.mb30
            %table.balance_pt.w100p
              %tbody
                %tr
                  %th
                    %p.text_center
                      購入ポイント残高
                  %td.ml30
                    %p.pl60.icon_point.valign_middle
                      %strong.fnt24 8億
                      &nbsp;
                      %span
                        ポイント
                %tr
                  %th
                    %p.text_center
                      付与ポイント残高
                  %td.ml30
                    %p.pl60.icon_point.valign_middle
                      %strong.fnt24 1億
                      &nbsp;
                      %span
                        ポイント
            .caution.fnt12
              %p.ml10.fnt14
                注意
              %ul.common_list.mb0
                %li
                  ご購入いただいたPairsポイントの有効期限は購入日を含め180日です。
                  2014年9月30日以前に購入されたポイントには有効期限はありません
                %li
                  Pairsポイントは購入ポイントであるか付与ポイントであるかに関わらず古いものから順番に使用されます
                %li
                  次回の失効ポイント数、Pairsポイント履歴に最新の情報が反映されるまでに数分かかる場合がございます


      .common_page_box#point_history
        %p.common_title
          Pairsポイントの履歴
        .common_box_inner

          .common_table_a.mb30
            %table
              %tbody
                %tr
                  %th
                    %p.text_center
                      日付
                  %th
                    %p.text_center
                      項目
                  %th
                    %p.text_center
                      購入ポイント
                  %th
                    %p.text_center
                      付与ポイント
                %tr
                  %td
                    %p.text_center
                      2018/02/31
                  %td
                    %p.text_center
                      ボーナスポイント
                  %td
                    %p.text_center
                      6億
                  %td
                    %p.text_center
                %tr
                  %td
                    %p.text_center
                      2018/02/30
                  %td
                    %p.text_center
                      DeNAポイント
                  %td
                    %p.text_center
                      1億
                  %td
                    %p.text_center
                %tr
                  %td
                    %p.text_center
                      2018/02/29
                  %td
                    %p.text_center
                      サイバーポイント
                  %td
                    %p.text_center
                      1億
                  %td
                    %p.text_center
                %tr
                  %td
                    %p.text_center
                      2018/02/28
                  %td
                    %p.text_center
                      ログインポイント
                  %td
                    %p.text_center
                  %td
                    %p.text_center
                      0
                %tr
                  %td
                    %p.text_center
                      2018/02/27
                  %td
                    %p.text_center
                      ログインポイント
                  %td
                    %p.text_center
                  %td
                    %p.text_center
                      0
                %tr
                  %td
                    %p.text_center
                      2018/02/26
                  %td
                    %p.text_center
                      ログインポイント
                  %td
                    %p.text_center
                  %td
                    %p.text_center
                      0
                %tr
                  %td
                    %p.text_center
                      2018/02/25
                  %td
                    %p.text_center
                      ポイント付与
                  %td
                    %p.text_center
                  %td
                    %p.text_center
                      1億
            .box_news_footer.mt10
              %ul.news_pager
                %li.button_white_a.news_pager_item.pager_pre.disabled
                  マエへ
                %li.button_white_a.news_pager_item.pager_next.disabled
                  ツギヘ
              %p.news_number 7件中 1〜7件表示
          .caution.fnt12
            %p.ml10.fnt14
              注意
            %ul.common_list.mb0
              %li
                「購入ポイント」とは、お客様が購入したPairsポイントです
              %li
                「付与ポイント」とは、Pairsからお客様へ無料で付与したポイントです
              %li
                ご購入いただいたPairsポイントの有効期限は購入日を含め180日です。
                2014年9月30日以前に購入されたポイントには有効期限はありません
              %li
                Pairsポイントは購入ポイントであるか付与ポイントであるかに関わらず古いものから順番に使用されます
              %li
                次回の失効ポイント数、Pairsポイント履歴に最新の情報が反映されるまでに数分かかる場合がございます
