.ui-view_class_style
  .main.box_visitor_view.contents_padding
    .data-visitor-setting
      .common_page_header
        %a{href: "/visitorlist", class: "page_back button_f button_white_a"}
          戻る
        %span.page_tile
          足あと
      = render partial: "pairs/shared/visitor_setting"
