.list_message{"data-id": "#{message.id}"}
  %p.hr_date{"data-id": "#{message.id}"}
  .you_message
    .box_message_info
      %p.message_text
        = message.content
      %p.message_already_read 既読
      %p.message_send_time
        = message.created_at
