.main_contents_style
  #pairs_search_page.main.box_search_view.contents_padding
    = render partial: "pairs/shared/notification"
    = render partial: "pairs/shared/advertising"
    = render partial: "pairs/shared/box_search_menu"
    = render partial: "pairs/shared/main_contents"